@charset "UTF-8";

.U1, .U2, .U3, .U4, .U5, .U6, .U7, .U8, .U9, .U10 {
	background-color: #9DD496;
}

.backgroundUSA{
	background-color: #7BB274;
}

.backgroundUSSR{
	background-color: #D85B5F;
}

.backgroundUK{
	background-color: #D3B683;
}

.C1, .C2, .C3, .C4, .C5 {
	background-color: #85ACDB;
}
.backgroundChina{
	background-color: #658CBB;
}

.J1, .J2, .J3, .J4, .J5, .J6, .J7, .J8, .J9, .J10, .J11, .J12, .J13, .J14, .J15, .J16, .J17, .J18, .J19, .J20, .J21, .J22 {
	background-color: #F0944D;
}
.backgroundJapan{
	background-color: #D0742D;
}

.I1, .I2, .I3, .I4, .I5 {
	background-color: #FAD1FA;
}

.backgroundItaly{
	background-color: #DAB1DA;
}

.G1, .G2, .G3, .G4, .G5, .G6, .G7, .G8, .G9, .G10, .G11, .G12, .G13, .G14, .G15, .G16 {
	background-color: #CCCCCC;
}

.backgroundGermany{
	background-color: #AAAAAA;
}