@charset "UTF-8";

div.inlineBlock {
	display:inline-block;
}

div.country {
	min-width: 225px;
	width: 14%;
	margin-top: 20px;
	vertical-align: top;
	text-align: center;
}

.card {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 7px;
	padding: 2px;
	box-shadow: 3px 3px 3px gray;
}

.bold {
	font-weight: bold;
}

.bigger {
	font-size: 16px;
}

.checkboxPosition {
	position: relative;
	top: -2px;
}

.relative {
	position: relative;	
}

.absoluteRight {
	position: absolute;
	right: 0;
}

.icon {
	width: 19px;
	height: 19px;
	position: relative;
	top: 2px;
}

.third {
	width: 33%;
}

.transparent {
	color: transparent;
}

.spacing {
	margin-top: 3px;
	margin-bottom: 3px;
}

.fight {
	font-size: 22px;
	position: relative;
	top: -4px;
}

.textRight {
	text-align: right;
}
