@charset "UTF-8";

.negative {
	color: red;
}

.usa {
	background-color: #9DD496;
}

.backgroundUSA {
	background-color: #7BB274;
}

.ussr {
	background-color: #F87B7F;
}

.backgroundUSSR {
	background-color: #D85B5F;
}

.uk {
	background-color: #F3D6A3;
}

.backgroundUK {
	background-color: #D3B683;
}

.china {
	background-color: #85ACDB;
}

.backgroundChina {
	background-color: #658CBB;
}

.japan {
	background-color: #F0944D;
}

.backgroundJapan {
	background-color: #D0742D;
}

.italy {
	background-color: #FAD1FA;
}

.backgroundItaly {
	background-color: #DAB1DA;
}

.germany {
	background-color: #CCCCCC;
}

.backgroundGermany {
	background-color: #AAAAAA;
}

.contestedGradient {
	background-image: linear-gradient(to top, rgba(254, 255, 63, 0), rgba(254, 255, 63, .2), rgba(254, 255, 63, 1));
}

.collapseGradient {
	background-image: linear-gradient(to top, rgba(254, 255, 63, .1), rgba(254, 255, 63, .8), rgba(254, 255, 63, .1));
}

#yellowRoll, .infantry, .submarine {
	background-color: #ffffda;
}

#blueRoll, .artillery, .cruiser {
	background-color: #cfdbea;
}

#greenRoll, .tank, .fighter, .carrier {
	background-color: #b5d4b4;
}

#redRoll, .battleship, .bomber {
	background-color: #ff7878;
}

#whiteRoll {
	background-color: #DDDDDD;
}

#blackRoll {
	background-color: #777777;
}

#yellowRoll .td>div, div.infantry, div.submarine {
	background-color: #fdff1f;
}

#blueRoll .td>div, div.artillery, div.cruiser {
	background-color: #466e9e;
}

#greenRoll .td>div, div.tank, div.fighter, div.carrier {
	background-color: #477844;
}

#redRoll .td>div, div.battleship {
	background-color: #ff1616;
}

td div.bomber, .axisAdvantage div.battleship.ally, .allyAdvantage div.battleship.axis {
	background-image: linear-gradient(45deg, rgba(255, 10, 10, .9), rgba(255, 10, 10, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

td div.bomber.axis:last-child, td div.bomber.ally:first-child, .axisAdvantage div.battleship.ally:first-child, .allyAdvantage div.battleship.axis:last-child {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9), rgba(255, 10, 10, .9), rgba(255, 10, 10, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

td div.fighter, .axisAdvantage div.tank.ally, .allyAdvantage div.tank.axis, .axisAdvantage div.carrier.ally, .allyAdvantage div.carrier.axis {
	background-image: linear-gradient(45deg, rgba(71, 120, 68, .9), rgba(71, 120, 68, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

td div.fighter.axis:last-child, td div.fighter.ally:first-child, .axisAdvantage div.tank.ally:first-child, .allyAdvantage div.tank.axis:last-child, .axisAdvantage div.carrier.ally:first-child, .allyAdvantage div.carrier.axis:last-child {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9), rgba(71, 120, 68, .9), rgba(71, 120, 68, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

td div.cruiser.Escort {
	background-image: linear-gradient(45deg, rgba(255, 10, 10, .9), rgba(255, 10, 10, .9), rgba(70, 110, 158, .9), rgba(70, 110, 158, .9), rgba(71, 120, 68, .9), rgba(71, 120, 68, .9));
}

.axisAdvantage div.infantry.ally, .allyAdvantage div.infantry.axis, .allyAdvantage div.submarine.axis, .axisAdvantage div.submarine.ally {
	background-image: linear-gradient(45deg, rgba(253, 255, 31, .9), rgba(253, 255, 31, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.axisAdvantage div.infantry.Defensive.ally:first-child, .allyAdvantage div.infantry.Defensive.axis:last-child {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9), rgba(253, 255, 31, .9), rgba(253, 255, 31, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.axisAdvantage div.artillery.ally, .allyAdvantage div.artillery.axis, .allyAdvantage div.cruiser.Offensive.axis, .axisAdvantage div.cruiser.Offensive.ally {
	background-image: linear-gradient(45deg, rgba(70, 110, 158, .9), rgba(70, 110, 158, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.axisAdvantage div.artillery.ally:first-child, .allyAdvantage div.artillery.axis:last-child, .allyAdvantage div.cruiser.Offensive.axis:last-child, .axisAdvantage div.cruiser.Offensive.ally:first-child {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9), rgba(70, 110, 158, .9), rgba(70, 110, 158, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.axisAdvantage div.cruiser.Escort.ally:first-child, .allyAdvantage div.cruiser.Escort.axis:last-child {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9), rgba(255, 10, 10, .9), rgba(255, 10, 10, .9), rgba(70, 110, 158, .9), rgba(70, 110, 158, .9), rgba(71, 120, 68, .9), rgba(71, 120, 68, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.axisAdvantage div.cruiser.Escort.ally, .allyAdvantage div.cruiser.Escort.axis {
	background-image: linear-gradient(45deg, rgba(255, 10, 10, .9), rgba(255, 10, 10, .9), rgba(70, 110, 158, .9), rgba(70, 110, 158, .9), rgba(71, 120, 68, .9), rgba(71, 120, 68, .9), rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

#whiteRoll .td>div {
	background-color: #FFFFFF;
}

#blackRoll .td>div {
	background-color: #000000;
}

#resourceTable tbody tr:nth-child(even) {
	background-color: rgba(100, 100, 100, .2);
}

#combatHelperForm.axisLandAirRoller td:has(#axisLandAirRoller), #combatHelperForm.axisLandRoller td:has(#axisLandRoller), #combatHelperForm.allyLandRoller td:has(#allyLandRoller), #combatHelperForm.allyLandAirRoller td:has(#allyLandAirRoller), #combatHelperForm.axisNavalAirRoller td:has(#axisNavalAirRoller),
	#combatHelperForm.axisNavalSurfaceRoller td:has(#axisNavalSurfaceRoller), #combatHelperForm.allyNavalSurfaceRoller td:has(#allyNavalSurfaceRoller), #combatHelperForm.allyNavalAirRoller td:has(#allyNavalAirRoller) {
	background-color: pink;
}