@charset "UTF-8";

.usa {
	background-color: #9DD496;
}

.backgroundUSA {
	background-color: #7BB274;
}

.ussr {
	background-color: #F87B7F;
}

.backgroundUSSR{
	background-color: #D85B5F;
}

.uk {
	background-color: #F3D6A3;
}

.backgroundUK{
	background-color: #D3B683;
}

.china {
	background-color: #85ACDB;
}
.backgroundChina{
	background-color: #658CBB;
}

.japan {
	background-color: #F0944D;
}
.backgroundJapan{
	background-color: #D0742D;
}

.italy{
	background-color: #FAD1FA;
}

.backgroundItaly{
	background-color: #DAB1DA;
}

.germany{
	background-color: #CCCCCC;
}

.backgroundGermany {
	background-color: #AAAAAA;
}

.contestedGradient {
	  background-image: linear-gradient(to top, rgba(254,255,63,0), rgba(254,255,63,.2), rgba(254,255,63,1));
}

#yellowRoll {
	background-color: #ffffda;
}
#blueRoll {
	background-color: #cfdbea;
}
#greenRoll {
	background-color: #b5d4b4;
}
#redRoll {
	background-color: #ff7878;
}
#whiteRoll {
	background-color: #DDDDDD;
}
#blackRoll {
	background-color: #777777;
}
#yellowRoll .td > div {
	background-color: #fdff1f;
}
#blueRoll .td > div {
	background-color: #466e9e;
}
#greenRoll .td > div {
	background-color: #477844;
}
#redRoll .td > div {
	background-color: #ff1616;
}
#whiteRoll .td > div {
	background-color: #FFFFFF;
}
#blackRoll .td > div {
	background-color: #000000;
}

tbody tr:nth-child(even) {
	background-color: rgba(100, 100, 100, .3);
}