@charset "UTF-8";

.hidden {
	display: none;
}

.inlineBlock {
	display: inline-block;
}

.fullWidth {
	width: 100%;
}

.block {
	display: block;
}

div.country {
	min-width: 225px;
	width: 14%;
	margin-top: 20px;
	vertical-align: top;
	text-align: center;
}

.card {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 7px;
	padding: 2px;
	box-shadow: 3px 3px 3px gray;
}

.bold {
	font-weight: bold;
}

.bigger {
	font-size: 16px;
}

.checkboxPosition {
	position: relative;
	top: -2px;
}

.relative {
	position: relative;	
}

.absoluteRight {
	position: absolute;
	right: 0;
}

div {
	font-size: inherit;
}

.icon {
	width: 19px;
	height: 19px;
	position: relative;
	top: 2px;
}

.third {
	width: 33%;
}

.transparent {
	color: transparent;
}

.spacing {
	margin-top: 3px;
	margin-bottom: 3px;
}

.fight {
	font-size: 22px;
	position: relative;
	top: -4px;
}

.textRight {
	text-align: right;
}

.diceRollerLabel {
	width: 8px;
}

.top {
	vertical-align: top;
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.column {
	display: table-column;
}

.middle {
	vertical-align: middle;
}

.center {
	text-align: center;
}

.thinBorder{
    border: 1px solid black;
}

.thinBorderNoBottom{
    border: 1px solid black;
    border-bottom: none;
}

.thinBorderNoTop{
    border: 1px solid black;
    border-Top: none;
}

.thinBorderBottom{
    border-bottom: 1px solid black;
}

.thinBorderRight{
    border-right: 1px solid black;
}

.paddingFive {
	padding: 5px;	
}

.marginCenter {
	margin: 0 auto;
}

#resourceUseDiv input[type="text"] {
	width: 20px;
	height: 30px;
}

#resourceUseDiv input[type="radio"]  {
	width: 15px;
	height: 15px;
}

td {
	text-align: center;
}

th:not(:first-child) {
	text-align: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 0;
	width: 100%;
}

.minusDiv {
	position: relative;
	top: -3px;
}

.plusDiv {
	position: relative;
	top: 2px;
}

.inputControl {
	font-size: larger;
	position: absolute;
	left: 0;
	right: 0;
}

.plusControl {
	bottom: -5px;
}

.minusControl {
	top: -5px;
}